.header {
  background-image: url('../assets/images/header_background.png');
  background-size: cover;
  background-position: 85% center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
  }

  &__title {
    margin-bottom: 88px;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    @include onTablet {
      margin-bottom: 130px;
      font-size: 64px;
    }

    @include onDesktop {
      margin-bottom: 203px;
      font-size: 80px;
    }
  }
}
