.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: $space-lg;

  @include onTablet {
    padding-block: $space-lg-plus;
  }

  &__icons {
    display: flex;
    gap: $space-lg;
  }

  &__logo-link {
    display: flex;
  }

  &__logo-img {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: $button-height;
    }
  }

  &__phone-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $main-text-color;
    text-decoration: none;
  }

  &__phone-number {
    display: none;
    position: absolute;
    right: 100%;
    margin-right: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: translateX(10px) scale(0.95);
    transition: all $effectDuration;

    @include onDesktop {
      display: block;
    }
  }
}

.top-bar__phone-link:hover .top-bar__phone-number {
  @include onDesktop {
    opacity: 1;
    transform: translateX(0);
  }
}
