@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: $space-md;

  @include onTablet {
    padding-inline: $space-4xl;
  }

  @include onDesktop {
    max-width: $layout-max-width;
    padding-inline: $space-5xl;
    margin-inline: auto;
  }
}

.container {
  @include content-padding-inline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: $space-md;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;

    column-gap: $space-lg;
  }

  @include onDesktop {
    --columns: 12;
  }
}

@mixin hover($property, $value) {
  transition: transform $effectDuration;
  &:hover {
    #{$property}: $value;
  }
}
